extends layout

block header
  script(type='text/javascript', src='/javascripts/admin.configure.js')
block content
  h3="Common Configurations"  
  
  
  div#commit
  div#upgrade
  -if( process.platform == 'linux' )
   input(type="button", value="Reboot device", id="reboot")
  
  h4="App Configs"
  div(id="app", style="height:70px")
  h4="Email Configs"
  div(id="email", style="height:70px")
  h4="OWFS Configs"
  div(id="owfs", style="height:70px")
  h4="mongodb Configs"
  div(id="mongodb", style="height:70px")