doctype 5
//[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]
//[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]
//[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]
//[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="viewport", content="width=device-width,initial-scale=1")
    title="home.js"
    
    link(rel="stylesheet", href="css/styles.css")
    script(data-main="js/main", src="/js/libs/require/require.js")
    
    //link(rel='stylesheet', href='/js/libs/w2ui/1.2/w2ui-1.2.min.css')

    -if (typeof(session) !== 'undefined' )
      -if(session!=undefined)
       script(type='text/javascript')
        var session = !{JSON.stringify(session)};
      -else 
       script(type='text/javascript')
        var session = undefined;
    -else
      script(type='text/javascript')
        var session = undefined;
    block header
  body
    div(id="container")
     div(id="logo")
      h1="Modular Backbone"
  

     div(class="menu navbar")
      div(class="navbar-inner")
       ul(class="nav")
         li
          a(href="#")="Home"
         li 
          a(href="#/schedules")="Schedules"
         li 
          a(href="#/users")="Users"

     div(id="page")
      Loading....
  
     div(id="footer")